body {
    margin: 0;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}

.bg {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

.btn-1 {
    height: 0.35rem;
    width: 1.48rem;
    position: absolute;
    top: 1.58rem;
    left: 1.1rem;
    /*background-color: #ff0000;*/
}

.btn-2 {
    height: 0.35rem;
    width: 1.48rem;
    position: absolute;
    top: 3.15rem;
    left: 4rem;
    /*background-color: #ff0000;*/
}

.btn-3 {
    height: 0.35rem;
    width: 1.48rem;
    position: absolute;
    top: 4.73rem;
    left: 1.1rem;
    /*background-color: #ff0000;*/
}

.btn-4 {
    height: 0.35rem;
    width: 1.48rem;
    position: absolute;
    top: 6.38rem;
    left: 4rem;
    /*background-color: #ff0000;*/
}

.btn-5 {
    height: 0.35rem;
    width: 1.48rem;
    position: absolute;
    top: 7.97rem;
    left: 1.1rem;
    /*background-color: #ff0000;*/
}

.btn-6 {
    height: 0.35rem;
    width: 1.48rem;
    position: absolute;
    top: 9.54rem;
    left: 4rem;
    /*background-color: #ff0000;*/
}

.t1-1 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 11.9rem;
    font-size: 0.7rem;
}

.t2-1 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 12.9rem;
    font-size: 0.5rem;
}

.tkl-1 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 14.9rem;
    font-size: 0.7rem;
}



.t1-2 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 11.9rem;
    font-size: 0.7rem;
}

.t2-2 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 12.9rem;
    font-size: 0.5rem;
}

.tkl-2 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 14.9rem;
    font-size: 0.7rem;
}

.t1-3 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 11.9rem;
    font-size: 0.7rem;
}

.t2-3 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 12.9rem;
    font-size: 0.5rem;
}

.tkl-3 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 14.9rem;
    font-size: 0.7rem;
}

.t1-4 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 11.9rem;
    font-size: 0.7rem;
}

.t2-4 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 12.9rem;
    font-size: 0.5rem;
}

.tkl-4 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 14.9rem;
    font-size: 0.7rem;
}

.t1-5 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 11.9rem;
    font-size: 0.7rem;
}

.t2-5 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 12.9rem;
    font-size: 0.5rem;
}

.tkl-5 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 14.9rem;
    font-size: 0.7rem;
}

.t1-6 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 11.9rem;
    font-size: 0.7rem;
}

.t2-6 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 12.9rem;
    font-size: 0.5rem;
}

.tkl-6 {
    position: absolute;
    width: 65%;
    text-align: center;
    top: 14.9rem;
    font-size: 0.7rem;
}