body {
    margin: 0;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #000000;
    text-decoration: none;
}

.bg {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
}

.btn-1 {
    height: 0.35rem;
    width: 1.48rem;
    position: absolute;
    top: 1.58rem;
    left: 1.1rem;
    /*background-color: #ff0000;*/
}

.btn-2 {
    height: 0.35rem;
    width: 1.48rem;
    position: absolute;
    top: 3.15rem;
    left: 4rem;
    /*background-color: #ff0000;*/
}

.btn-3 {
    height: 0.35rem;
    width: 1.48rem;
    position: absolute;
    top: 4.73rem;
    left: 1.1rem;
    /*background-color: #ff0000;*/
}

.btn-4 {
    height: 0.35rem;
    width: 1.48rem;
    position: absolute;
    top: 6.38rem;
    left: 4rem;
    /*background-color: #ff0000;*/
}

.btn-5 {
    height: 0.35rem;
    width: 1.48rem;
    position: absolute;
    top: 7.97rem;
    left: 1.1rem;
    /*background-color: #ff0000;*/
}

.btn-6 {
    height: 0.35rem;
    width: 1.48rem;
    position: absolute;
    top: 9.54rem;
    left: 4rem;
    /*background-color: #ff0000;*/
}